@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Roboto&display=swap');



:root {
    --off-white: #f6e5d2;
    --off-black: #1d0902;
    --primary-color: #B80C09;
    --primary-color-light: #d11411;
    --primary-color-dark: #840907;
    --secondary-color: #0B4F6C;
    --gray: #808080;
    --dark-gray: #5a5a5a;
}


body {
    background-color: var(--off-black);
    color: var(--off-white);
    font-family: 'Roboto', sans-serif;
}

.notice {
    font-style: italic;
    padding-top: .5rem;
    margin-left: 17rem;
}

a {
    color: var(--primary-color)
}

.options,
button,
select {
    font-size: 1.1rem;
}

button,
select {
    background-color: var(--primary-color);
    color: var(--off-white);
    border: solid 0px;
    padding: 3px;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;

}

button:hover {
    background-color: var(--primary-color-dark);
    transform: translateY(-1px);
    box-shadow: inset 0 0 2px var(--accentColor);
}

.output button {
    min-width: 9rem;
    margin-left: 5px;
}

select option:hover {
    background-color: lightblue;
    /* Set the background color when hovered */
}

code {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
}

.message-box {
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-gray)
}

.message-box svg,
.missing svg {
    vertical-align: middle;
}

.message-box a {
    color: var(--primary-color-light)
}

.message-box a:hover {
    color: var(--primary-color)
}


.missing-heading,
.untranslated-heading,
.obsolete-heading {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
}

.missing-heading {
    max-width: 80%;
}


.output {
    font-family: 'Fira Code', monospace;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 2px var(--dark-gray);
    color: var(--off-black);
}

.missing {
    background-color: cornsilk;
    /* padding-top: 50px; */
}

.untranslated {
    background-color: var(--gray);
}

.obsolete {
    background-color: var(--gray);
}

.missing:empty,
.untranslated:empty,
.obsolete:empty,
.message-box:empty {
    display: none;
}


.description {
    color: var(--off-white);
    font-style: italic;
}

#copyButton {
    display: block;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.clicked {
    background-color: var(--secondary-color);
}