.file-location {
    margin-top: 20px;
}


.missing-heading,
.untranslated-heading,
.obsolete-heading {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bold;
}

.missing-heading {
    max-width: 80%;
}


.output {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 2px rgb(151, 151, 151)
}

.missing {
    background-color: cornsilk;
    /* padding-top: 50px; */
}

.untranslated {
    background-color: lightblue;
}

.obsolete {
    background-color: lightgrey;
}

.missing:empty,
.untranslated:empty,
.obsolete:empty {
    display: none;
}


.description {
    color: gray;
    font-style: italic;
}

#copyButton {
    /* position: relative;
    float: inline-end;
    top: -60px;
    right: 10px; */
    display: block;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#copyButton.copied {
    background-color: #2ecc71;
}